@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;0,800;1,800&family=Work+Sans:wght@400;500;600;700;800;900&display=swap');
/* shared style*/
*{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
img{
    margin: 0;
    padding: 0;
}
/*menu and banner section*/
header{
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    padding: 0px 150px;
    margin-bottom: 50px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-left{
    display: flex;
    align-items: center;
}
.nav-left img{
    width: 86.041px;
    height: 40px;
}
.nav-title{
    color: #0B0223;
    font-size: 45px;
    font-weight: 700;
    margin-left: 15px;
}
.nav-title .g-class{
    color: #FF42A5;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 30px;
}
nav li a{
    text-decoration: none;
    color: #3C354F;
    font-size: 18px;
    font-weight: 700;
}
.follow-link{
    padding: 20px 30px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}
/*banner styles*/
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.banner-content{
    background: url('../images/Group\ 14.png'), lightgray 50% / cover no-repeat, cover;
}
.banner-content h4{
    color: #0B0223;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.banner-content h1{
    text-align: center;
    font-size: 85px;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.banner-content p{
    color: #534C64;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    text-transform: lowercase;
}
.banner-content p a {
    text-decoration: none;
}
.banner-image{
    max-width: 600px;
}
.banner-image img{
    width: 100%;
}
.btn-primary{
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background: var(--Linear, linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%));
    border: none;
    color: #FFF;
    font-size: 21px;
    font-weight: 700;
}
.btn-go{
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background: #4EC5F7;
    border: none;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}
/*online store*/
.online-store{
    margin-bottom: 50px;
}
.online-store h2,p{
    margin: 0 auto;
    text-align: center;
}
.online-store h2{
    color: #0B0223;
    font-size: 36px;
    font-weight: 700;
    line-height: normal;
}
.online-store h2 .funny{
    color: #0B0223; 
    font-size: 48px;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 36px;
    font-weight: 700;
    line-height: normal;
}
.online-store p{
    color: #534C64;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; 
    margin-top: 10px;
    margin-bottom: 20px;
}
.online-store-image-content{
    display: flex;
    justify-content: center;
    gap: 15px;
}
.online-content{
    max-width: 250px;
}
.online-content img{
    width: 100%;
    border-radius: 16px;
}
.online-content p{
    color: #534C64;
    font-size: 14px;
    font-weight: 500;
    line-height: 15px; 
}
/*only play no download*/
.play-section-no-download{
    display: flex;
    justify-content: center;
    gap: 100px;
    height: 90vh;
}
.play-content{
    /* border: 1px solid hotpink; */
    max-width: 300px;
    height: 100%;
    margin: 100px 0;
    margin-right: 30px;
}
.play-content h3{
    text-align: right;
    font-size: 36px;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.play-content > h3 > .no-download-install{
    text-align: right;
    font-size: 36px;
    font-weight: 700;
    color: #0B0223 !important;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.play-content p{
    color: #534C64;
    text-align: right;
    font-size: 16px;
    font-weight: 400;
}
.play-video{
    max-width: 500px;
}
.play-video img{
    width: 100%;
    border-radius: 8px;
}
.talking-angel{
    border-radius: 8px;
    /* border: 10px solid #FFF; */
    position: relative;
    bottom: 200px;
    right: 100px;
}
.talking-angel img{
    height: 40%;
    width: 40%;
}